html {
	font-size: 100%
}

p {
  color:#2C3A40;
  font-family: 'Lora', Georgia, "Times New Roman", serif;
  font-size: 1rem;
	line-height: 1.5rem;
}

h1 {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

h2 {
  font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
  font-size: 0.5rem;
}

body {
  background-color:#C9E5FF;
  text-align: center;
}

#container {
  width:90%;
  /*margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;*/
  margin: 0 auto;
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #85ADBF;
}

#nav a:link, #nav a:visited {
  display: block;
  color:#A0D0E5;
  background-color: #788898;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active {
  background-color: #5F767F;
}

.caption{
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  margin-top: 0;
  font-style: italic;
  font-size: 0.8em;
  text-align: right;
}

#footer {
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.8em;
  border-top: 1px solid black;
  text-align: left;
}

img {
  border: none;
}
