html{
  font-size: 100%;
}

body {
    font-family: 'Droid Serif', Helvetica, Arial, serif;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

.navigation{
	list-style: none;
	margin: 0;
	background: gray;
  padding: 0;
  display: flex;
	flex-flow: column;
}

.navigation a {
	text-decoration: none;
	display: block;
	color: white;
  text-align:center;
  padding: 10px;
  border-bottom:1px solid black;
}

.navigation li:last-of-type a{
  border-bottom: none;
}

img {
    width: 100%;
    display:none;
}

header {
  background-color:#FF7267;
}

.menu-trigger {
    order: 1;
    font-size: 1.8em;
    width: 2em;
    display:block;
  }

footer {
  background-color:#E8BC69;
}

article {
  background-color:#E1D8E8;
}

.aside-1 {
  background-color: #CACACA;
}

.aside-2 {
  background-color: #73C8FF;
}

.wrapper{
  display:flex;
  flex-flow:row wrap;
}

header,article,aside,footer{
  flex:1 100%;
  padding:10px;
}

@media screen and (min-width:600px) {

  nav ul {
        display:flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

  img {
    display:block;
  }

  #container {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
  }

  .navigation{
    flex-flow:row wrap;
    justify-content:flex-end;
  }
}

@media screen and (min-width:800px) {
  /*.navigation{
    flex-flow:row wrap;
    justify-content: flex-end;
  }*/

  #container{
    width:90%;
    max-width:60em;
  }

  .navigation a{
    border: none;
  }

  .navigation a:hover{
    background:black;
  }

  aside {
    flex:1 auto;
  }

	article {
	flex: 4 0px;
  max-width:40em;
	}

  .aside-1 {
    order: 1;
    flex: 2;
  }

  article {
  order:2;
 }

  .aside-2 {
   order:3;
   flex: 2;
 }

  footer {
    order:4;
 }

 article{
   display:flex;
   flex-flow:row;
   flex-wrap:wrap;
   flex:2;
 }

 .image {
        width: 50%;
        margin-right: 10px;
    }

 .story {
        width: 40%;
    }

 .first {
        margin-top: 0;
    }
}
